[Desktop Entry]
Name=bubbleshell
Name[ast]=bubbleshell
Name[az]=bubbleshells
Name[bg]=bubbleshell
Name[ca]=bubbleshell
Name[ca@valencia]=bubbleshell
Name[cs]=bubbleshell
Name[da]=bubbleshell
Name[de]=bubbleshell
Name[el]=bubbleshell
Name[en_GB]=bubbleshell
Name[es]=bubbleshell
Name[et]=bubbleshell
Name[eu]=bubbleshell
Name[fi]=bubbleshell
Name[fr]=bubbleshell
Name[gl]=bubbleshell
Name[hi]=प्लाज़्मा नेनो
Name[hu]=bubbleshell
Name[ia]=bubbleshell
Name[id]=bubbleshell
Name[it]=bubbleshell
Name[ka]=bubbleshell
Name[ko]=bubbleshell
Name[lt]=bubbleshell
Name[nl]=bubbleshell
Name[nn]=bubbleshell
Name[pl]=Plazma bubbleshell
Name[pt]=bubbleshell
Name[pt_BR]=bubbleshell
Name[ro]=bubbleshell
Name[ru]=bubbleshell
Name[sk]=bubbleshell
Name[sl]=bubbleshell
Name[sv]=bubbleshell
Name[ta]=பிளாஸ்மா நானோ
Name[tr]=bubbleshell
Name[uk]=Плазма bubbleshell
Name[x-test]=xxbubbleshellxx
Name[zh_CN]=bubbleshell
Name[zh_TW]=bubbleshell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=io.github.bubbledesktop.bubbleshell
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=

